@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  --laranja: #ff6014;
  --branco: #fff; /* Corrected typo: branco instead of white */
  --verde: #116544;
}

body {
  color: var(--verde);
  background: var(--branco);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  box-shadow: 0 0.1rem 0.5rem #ccc;
  width: 100%;
  background: var(--branco);
  transition: all 0.5s;
}

.navigation .logo {
  color: var(--laranja);
  font-size: 1.7rem; 
  font-weight: 600;
}

.logo span {
  color: var(--verde);
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.navigation ul li a {
  color: var(--verde);
  font-size: 17px;
  font-weight: 500;
  transition: all 0.5s;
}

.navigation ul li a:hover { 
  color: var(--laranja);
}

.menu {
  cursor: pointer;
  display: none;
}

.menu .bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background: var(--verde);
  margin: 5px auto;
  transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
  backgorund: var(--orange);
  color: #116544;
}